<title>Gaming Zone🎮</title>
<u
  ><h2 style="text-align: center;"><strong>Trending Games</strong></h2></u
>
<p style="text-align: center;">
  <img
    width="350px"
    height="150px"
    src="https://steamcdn-a.akamaihd.net/steam/apps/955050/logo.png"
  />
</p>
<p></p>
<div>
  <b>Bright Memory: Infinite was released on Nov 11, 2021</b><br /><br />
  <b
    ><u>Platforms</u>: Xbox Series X and Series S, Android, Microsoft Windows,
    iOS</b
  >
  <br /><br /><b><u>Genres</u>: Action game, Indie game, Adventure</b> <br />
  <h2 style="text-align: center;">
    <u>About The Game<br /><br /></u>
  </h2>
  <div id="game_area_description" class="game_area_description">
    <p>
      <i
        ><b>Bright Memory: Infinite </b> is set in a sprawling, futuristic
        metropolis In the year 2036, a strange phenomenon for which scientists
        can find no explanation has occurred in the skies around the world.The
        Supernatural Science Research Organization (SRO) has sent agents out to
        various regions to investigate this phenomenon. It is soon discovered
        that these strange occurrences are connected to an archaic mystery-an
        as-of-yet unknown history of two worlds, about to come to light- Bright
        Memory: Infinite combines the FPS and action genres to deliver a
        high-octane experience. Mix and match available skills and abilities to
        unleash magnificent combos on your enemies. Your trusted sword allows
        you to slash through crowds of enemies and even repel their gunfire. The
        guns you come across in-game can be customized with a variety of
        ammunitions. Choose between incendiary bombs, sticky grenades, homing
        missiles, and more to suit your situation
        <p style="text-align: center;">
          <a class="download" href="">
            <button>Buy ₹ 1999</button>
            <br />
          </a>
          <br />
        </p>

        <p style="text-align: center;">
          <img
            width="350px"
            height="150px"
            src="https://www.kindpng.com/picc/m/78-782481_yakuza-6-the-song-of-life-logo-hd.png"
          />
        </p>
        <p>
          <b>Yakuza 6: The Song Of Life was released on Mar 25, 2021</b
          ><br /><br /><b><u>Platforms</u>:PS4, Xbox, Microsoft Windows</b>
          <br /><br /><b
            ><u>Genres</u>: Action-adventure game, Fighting game, Nonlinear
            gameplay, Adventure</b
          >
        </p>
        <br />
        <h2 style="text-align: center;">
          <u>About The Game<br /><br /></u>
        </h2>
        <div id="game_area_description" class="game_area_description">
          <p>
            <i
              ><b>Yakuza 6 The Song Of Life</b>:In This Game,Kazuma Kiryu will
              find out exactly how much people are willing to sacrifice for
              family – be those ties through blood or bond – when he
              investigates a series of shadowy events that involve the ones he
              holds closest to his heart. Fresh out of a three-year prison
              sentence, an older and weathered Kiryu comes to find out that his
              surrogate daughter, Haruka, has gone missing from the orphanage he
              looks after. The trail leads him to his old stomping grounds in
              Kamurocho, where he discovers that she has been struck by a car
              and now lies in a coma. To make matters worse, Kiryu learns that
              Haruka now has a son that he must look after. With baby in hand,
              Kiryu journeys to the seaside town of Onomichi, Hiroshima to
              unravel the truth about Haruka, her son, and a sinister secret
              that the Hiroshima yakuza are harboring. From the unparalleled
              realism of the new setting of Onomichi, a beautiful, sleepy port
              town in Hiroshima Prefecture, to the latest evolution of
              Kamurocho, the biggest red-light district in Tokyo, Yakuza 6 is
              the ultimate iteration the game’s blend of gritty crime story,
              hyper-explosive combat, and all the vices and distractions those
              locales have to offer.
            </i>
          </p>
        </div>
        <p style="text-align: center;">
          <a class="download" href="">
            <br />
            <button>Buy ₹ 2999</button>
            <br />
          </a>
          <br />
        </p>

        <p style="text-align: center;">
          <img
            width="350px"
            height="150px"
            src="https://image.pngaaa.com/813/3728813-middle.png"
          />
        </p>
        <p>
          <b>Days Gone was released on May 17, 2021</b><br /><br />
          <b><u>Platforms</u>: PlayStation 4, Microsoft Windows</b>
          <br /><br /><b
            ><u>Genres</u>: Shooter Video Game, Survival horror, Nonlinear
            gameplay, Adventure</b
          >
        </p>
        <br />
        <h2 style="text-align: center;">
          <u>About The Game<br /><br /></u>
        </h2>
        <div id="game_area_description" class="game_area_description">
          <p>
            <i
              ><b>Days Gone </b> is an open-world action-adventure game set in a
              harsh wilderness two years after a devastating global pandemic.
              Step into the dirt flecked shoes of former outlaw biker Deacon St.
              John, a bounty hunter trying to find a reason to live in a land
              surrounded by death. Scavenge through abandoned settlements for
              equipment to craft valuable items and weapons, or take your
              chances with other survivors trying to eke out a living through
              fair trade… or more violent means.</i
            ><br /><br />
          </p>
          <p style="text-align: center;">
            <a class="btn-download" href="">
              <br />
              <button>Buy ₹ 3999</button>
              <br />
            </a>
          </p></div
      ></i>
    </p>
  </div>
</div>
